.account-page{

  .password-info{
    form{
      overflow: hidden;

      .section{
        margin-bottom: 15px !important;
      }
    }
  }

  .documents-payment-form{
    .storage-invite{
      text-align: center;

      b{
        display: block;
        margin-bottom: 10px;
      }
    }
    .row {
      margin: 0 -15px;
    }
  }
  .documents-payment-submit-wrap {
    margin-bottom: 20px;
  }
  .documents-payment-form-heading {
    padding: 0 0 1px;
    margin: 15px 0;
    color: gray;
    font-size: 1.2rem;
  }
  .documents-payment-methods {
    text-align: center;
  }
  .payment-method-radio {
    width: 50px;
    display: inline-block;
    margin: 0 5px;
    img {
      max-width: 100%;
      margin-bottom: 5px;
    }
  }
  .payment-agreement-text {
    font-size: 12px;
  }
  .profile-info{
    color: gray;
    .user-name{
      font-size: 1.5rem;
    }
    .right-column{
      text-align: right;

      img{
        border-radius: 50%;
      }
    }
    .contact-info{
      > div{
        margin-bottom: 10px;
      }
      .sub-heading{
        font-size: 0.7rem;
        margin-left: 20px;
      }
      .value{
        margin-left: 30px;
        font-size: 0.9rem;
      }
    }
    .rating-info {
      display: inline-block;
      text-align: center;
    }
    .rating-title {
      font-size: 1.5rem;
    }
    .rating-value {
      font-size: 2.2rem;
      &.isNull {
        color: #ccc;
        font-size: 1.3rem;
      }
    }
    .rating-stars {
      background: url('/rating-stars/star-grey.jpg') repeat-x;
      width: 125px;
      height: 25px;
      margin: 0 auto;
      position: relative;
      font-size: 25px;
      span {
        float: left;
      }
    }
    .stars-wrapper {
      width: 125px;
      height: 25px;
    }
    .rating-stars-percent {
      background: url('/rating-stars/star-blue.jpg') repeat-x;
      width: 0;
      color: #0365c0;
      height: 25px;
      position: absolute;
      left: 0;
      top: 0;
      white-space: nowrap;
      overflow: hidden;
    }
    .rating-stars-descr {
      font-size: 2.2rem;
      text-align: center;
      color: #0365c0;
    }
  }
  .profileform-panel {
    .profile-image {
      .item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
    .row {
      .item:not(:first-child) {
        margin-left: 15px;
      }
    }
    .family .label-spacer {
      height: 25px;
    }
  }
  .row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .item {
      flex: 1;
    }
    .item-lg {
      flex-grow: 2;
    }
    .item-remove {
      flex-grow: 0;
    }
    &.has-gutters .item:not(:first-child) {
      margin-left: 15px;
    }
    &.center-aligned {
      display: flex;
      align-items: center;
    }
    &.row-narrow {
      margin-left: -5px;
      margin-right: -5px;
      [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .account-submit {
    margin-top: 15px;
    display: flex;
    &-message {
      width: 75%;
      text-align: left;
    }
    &-button {
      width: 25%;
      text-align: right;
    }
  }

  .documents-panel {
    .file-row {
      &:not(:first-child) {
        margin-top: 10px;
      }
      .file-item {
        float: left;
      }
      .file-item-title {
        width: 90%;
      }
      .file-item-icon {
        width: 10%;
        text-align: center;
      }
    }
  }
  .documents-panel,
  .documentsform-panel {
    .filename,
    .fileicon {
      line-height: 24px;
    }
    .fileicon a {
      font-size: 21px;
    }
  }
  .documentsform-panel {
    .file-upload {
      margin-top: 15px;
    }
    .file-row {
      &:not(:first-child) {
        margin-top: 10px;
      }
      .file-item {
        float: left;
      }
      .file-item-title {
        width: 70%;
      }
      .file-item-icon {
        width: 10%;
        text-align: center;
      }
      .file-item-delete {
        width: 20%;
        text-align: right;
        line-height: 24px;
      }
    }
  }
}
