.submit-button{
  .spinner {
    float: left;
    height: 1px;
    margin: -4px 0px 0px -4px;
    padding: 0;
  }
  .text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: right;
  }

}
.btn-success:hover {
    color:#fff;
    background-color: $f2r-blue;
    border-color: $f2r-blue;
}

.btn-success {
   background-color:$f2r-blue;
  border-color:$f2r-blue;
  .active{
   background-color:$f2r-blue;
   }
}
.skyp-button.btn-success {
   background-color:$f2r-grey;
   border-color:$f2r-grey;
  .active{
   background-color:$f2r-grey;
   }
}

.prev-button.btn-success {
   background-color:$f2r-grey;
   border-color:$f2r-grey;
   color:red;
  .active{
   background-color:$f2r-grey;
   }
}

.prev-button.btn-success:hover {
    color:#fff;
    background-color: $f2r-grey;
    border-color: $f2r-grey;
}

.skyp-button.btn-success:hover {
    color:#fff;
    background-color: $f2r-grey;
    border-color: $f2r-grey;
}

.lord_button{
  background-color:$f2r-blue;
  border-color:$f2r-blue;
  hover:$f2r-blue;
  .active{
   background-color:$f2r-blue;
   }
}
