.data-table {
  th, td {
    text-align: center;
    vertical-align: middle !important;
  }
  thead {
    background-color: #f1f1f1;
  }
  th {
    position: relative;
    .divide-column {
      font-size: 80%;
    }
  }
  .top-right-corner {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
  }
}
