// form globals

.help-block, span{
  &.warn {
    color: $f2r-red-warn;
  }
  .success{
    color: $f2r-blue;
  }
}

span.warn{
  padding-left:2px;
  .text{
    font-size:.7em;
  }
}

textarea {
    resize: none;
    width: 100%;
}

.row-narrow {
  margin-left: -5px !important;
  margin-right: -5px !important;
  [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.reduxFormSubmit {
  margin-top: 15px;
  display: flex;
  &Message {
    width: 75%;
    text-align: left;
  }
  &Button {
    width: 25%;
    text-align: right;
  }
}
