.leasesSummary {
  margin-top: 70px;
}

.lease-form-panel {
  .collectionTypeSection,
  .leaseTypeSection {
    margin: 15px 0;
    padding: 0;
  }

  .anotherRenterSection,
  .anotherDepositSection {
    margin-top: 20px;
  }
}

.depositListTitle {
  padding-left: 5%;
}

.depositListTable {
  margin-bottom: 0;
}

.tdDepositAmount {
  padding-left: 10% !important;
  width: 50%;
}

.tdDepositPet,
.tdDepositOther {
  width: 25%;
}

.lease-actions {
  .btn {
    margin: 0 auto;
    width: 93px;
  }
  > .btn:first-child {
    margin-bottom: 5px;
  }
}

.lease-actions-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 65px;
}

.leasesStartDate,
.leasesEndDate,
.leasesRentPaymentDate {
  background-color: rgba(0, 0, 0, .05);
}
