.leasesPage {
  margin-top: 70px;
}

.lease-form-panel {
  .collectionTypeSection,
  .leaseTypeSection {
    margin: 15px 0;
    padding: 0;
  }

  .anotherRenterSection,
  .anotherDepositSection {
    margin-top: 20px;
  }
}