// panel globals

$panel-primary-top-margin: 150px;
$panel-primary-width: 400px;

$panel-primary-top-margin-mobile: 100px;
$panel-primary-width-mobile: 320px;

$panel-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.27);

.panel-primary {
  border-color: $f2r-green;
  box-shadow: $panel-box-shadow;
  > .panel-heading {
    background-color: $f2r-blue;
    border-color: $f2r-blue;
    padding-top: 15px;
    padding-bottom: 15px;
    > .panel-title {
      color: $f2r-white;
    }
  }
}

.signup-panel-lord {
  border-color: $f2r-blue;
  box-shadow: $panel-box-shadow;
  > .panel-heading {
    background-color: $f2r-blue;
    border-color: $f2r-blue;
    padding-top: 15px;
    padding-bottom: 15px;
    > .panel-title {
      color: $f2r-white;
    }
  }
}
