$pw-strength-neutral: #ccc;
$pw-strength-1: $f2r-red-warn;
$pw-strength-2: #a63e12;
$pw-strength-3: #f0ad4e;
$pw-strength-4: #5cb85c;
$pw-strength-5: #1f881f;

.password-strength-meter {
  margin-top: 5px;
  text-align: center;
  .score {
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 10px;
    &-neutral {
      background: $pw-strength-neutral;
    }
    &-1 {
      background: $pw-strength-1;
    }
    &-2 {
      background: $pw-strength-2;
    }
    &-3 {
      background: $pw-strength-3;
    }
    &-4 {
      background: $pw-strength-4;
    }
    &-5 {
      background: $pw-strength-5;
    }
  }
  .message {
    display: inline-block;
    font-size: 13px;
    &-score-1 {
      color: $pw-strength-1;
    }
    &-score-2 {
      color: $pw-strength-2;
    }
    &-score-3 {
      color: $pw-strength-3;
    }
    &-score-4 {
      color: $pw-strength-4;
    }
    &-score-5 {
      color: $pw-strength-5;
    }
  }
}
