.properties-page {
  margin-top: 70px;
}
.divide-column {
  display: block;
  &:after {
    clear: both;
    display: table;
    content: '';
  }
  .half-col {
    display: block;
    float: left;
    width: 50%;
    position: relative;
    &:first-child {
      text-align: right;
      padding-right: 8px;
      &:after {
        position: absolute;
        right: -8px;
        text-align: center;
        display: block;
        content: '/';
        font-size: 30px;
        font-weight: 300;
        width: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:last-child {
      text-align: left;
      padding-left: 8px;
    }
  }
}
.property-page {
  .dl-property {
    dt {
      padding: 0 0 1px;
      margin: 25px 0 5px;
      color: gray;
      font-size: 1.2rem;

      &:first-child{
        margin-top: 0;
      }
    }
  }
}

.property-page,
.propertyform-panel {
  .property-image img {
    width: 100%;
    max-width: 100%;
  }

  .v-align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    [class*="col-"] {

    }
  }

  .property-submit {
    margin-top: 15px;
    display: flex;
    &-message {
      width: 75%;
      text-align: left;
    }
    &-button {
      width: 25%;
      text-align: right;
    }
  }
}

.amenities-heading {
  font-size: 1.1rem;
  text-decoration: underline;
  margin-bottom: 5px;
}
.amenity-item {
  font-size: 12px;
}

.propertiesRent,
.propertiesOccupiedCollected,
.propertiesRemainingBalance {
  background-color: rgba(0, 0, 0, .05) !important;
}

.property-leases-table,
.property-tenants-table {
  td, th {
    border: none !important;
  }
}
