.tenant-subitem {
  margin: 10px 0;
}

.tenant-summary-table {
  text-align: center;
  tr:hover {
    background: none !important;
  }
  thead {
    border-bottom: 2px solid #ccc;
  }
  th {
    text-align: center !important;
    border: none !important;
    background-color: rgba(0, 0, 0, .05);
  }
  td {
    vertical-align: middle !important;
    border: none !important;
  }
  .tenantsMadePayments,
  .tenantsOwedPayments,
  .tenantsScheduledPayments {
    background-color: rgba(0, 0, 0, .05);
  }
  .tenantProfileImage {
    display: inline-block;
    max-width: 200px;
  }
}

.tenantsSummary {
  margin-top: 70px;
}
